.app__aboutus-content_history{
    display: block;
}  

.app__aboutus-content_about{
    display: block;
}  

.app__aboutus{
    position: relative;
    background-color: var(--color-black);
    overflow-x: hidden;
}

.app__aboutus-content{
    display: block;
    width: 100%;
}

.app__aboutus-content_peppermill img{
    height: 630px;
    width: 400px;
     }

.app__aboutus-content_history p,.app__aboutus-content_about p{
    margin: 2rem 0;
    color: var(--color-grey);
    }    

    @media screen and (min-width:768px){

        .app__aboutus-content{
            display: flex;
        }

        .app__aboutus-content_about{
            flex: 1;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            text-align: right;
            align-items: flex-end;
            position: relative;
            width: 30rem;
        }

            .app__aboutus-content_history{
                flex: 1;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                align-items: flex-start;
                text-align: left;
                position: relative;
            
            }     
        }
        
             